<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489229602336-j1bhrq31ssat2gscjc8nbsp5fbuotens.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489229602336-j1bhrq31ssat2gscjc8nbsp5fbuotens</string>
	<key>API_KEY</key>
	<string>AIzaSyBsGRdz_ELj3IQVb9vQIuM8j9TP5ysGHM4</string>
	<key>GCM_SENDER_ID</key>
	<string>489229602336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myorchard.Myorchard</string>
	<key>PROJECT_ID</key>
	<string>myorchard-50b1a</string>
	<key>STORAGE_BUCKET</key>
	<string>myorchard-50b1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489229602336:ios:5d83a9dd9018bf17bb7645</string>
	<key>DATABASE_URL</key>
	<string>https://myorchard-50b1a.firebaseio.com</string>
</dict>
</plist>